<div class="prayer-page">
  <div class="prayer-container">
    @if (selectedPlace$ | async; as place) {
      <div class="location-info">
        <h2>{{ place.name }} <span class="separator">•</span> {{ place.stateName }}</h2>
        <h3 class="country">{{ place.country }}</h3>
      </div>
    }
    
    @if (prayerTimes$ | async; as times) {
      <ng-container>
        @if (nextPrayerTime) {
          <div class="next-prayer-info">
            <div class="countdown-container">
              <div class="next-prayer-title text-center">
                <span>Vaktin çıkmasına</span>
                <i [class]="getPrayerIcon(nextPrayerTime.name)"></i>
              </div>
              
              <div class="countdown">
                <div class="time-unit">
                  <span class="value">{{nextPrayerTime.remainingTime.hours | number:'2.0-0'}}</span>
                  <span class="label">saat</span>
                </div>
                <div class="separator">:</div>
                <div class="time-unit">
                  <span class="value">{{nextPrayerTime.remainingTime.minutes | number:'2.0-0'}}</span>
                  <span class="label">dakika</span>
                </div>
                <div class="separator">:</div>
                <div class="time-unit seconds">
                  <span class="value">{{nextPrayerTime.remainingTime.seconds | number:'2.0-0'}}</span>
                  <span class="label">saniye</span>
                </div>
              </div>

              <div class="prayer-date text-center">
                <span class="date">{{ getCurrentDate() }}</span>
                <span class="separator">•</span>
                <span class="hijri">{{ getHijriDate() }}</span>
              </div>
            </div>
          </div>
        }

        <div class="prayer-times-container">
          <p-tabView [(activeIndex)]="activeTabIndex" styleClass="prayer-tabs">
            @for (date of getDates(times.times); track date) {
              <p-tabPanel [header]="formatDate(date)">
                <div class="prayer-cards">
                  
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-cloud-moon"></i> <!-- İmsak -->
                      </div>
                      <div class="prayer-info">
                        <h3>İmsak</h3>
                        <p class="time">{{ times.times[date][0] }}</p>
                      </div>
                    </div>
                  </div>
        
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-sun"></i> <!-- Güneş -->
                      </div>
                      <div class="prayer-info">
                        <h3>Güneş</h3>
                        <p class="time">{{ times.times[date][1] }}</p>
                      </div>
                    </div>
                  </div>
        
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-sun"></i> <!-- Öğle -->
                      </div>
                      <div class="prayer-info">
                        <h3>Öğle</h3>
                        <p class="time">{{ times.times[date][2] }}</p>
                      </div>
                    </div>
                  </div>
        
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-cloud-sun"></i> <!-- İkindi -->
                      </div>
                      <div class="prayer-info">
                        <h3>{{ 'İkindi'.toLocaleUpperCase('tr-TR') }}</h3>
                        <p class="time">{{ times.times[date][3] }}</p>
                      </div>
                    </div>
                  </div>
        
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-cloud-moon"></i> <!-- Akşam -->
                      </div>
                      <div class="prayer-info">
                        <h3>Akşam</h3>
                        <p class="time">{{ times.times[date][4] }}</p>
                      </div>
                    </div>
                  </div>
        
                  <div class="prayer-card-wrapper">
                    <div class="prayer-card">
                      <div class="prayer-icon">
                        <i class="fas fa-moon"></i> <!-- Yatsı -->
                      </div>
                      <div class="prayer-info">
                        <h3>Yatsı</h3>
                        <p class="time">{{ times.times[date][5] }}</p>
                      </div>
                    </div>
                  </div>
        
                </div>
              </p-tabPanel>
            }
          </p-tabView>
        </div>
        
        
      </ng-container>
    } @else {
      <div class="loading-container">
        <app-loading />
      </div>
    }
  </div>
</div>
